#!/bin/bash -e

# {{ ansible_managed }}

export PATH="/usr/local/opt/python3/bin:/usr/local/opt/python3/libexec/bin:/usr/local/opt/python@2/bin:/usr/local/opt/python/bin:/usr/local/opt/python/libexec/bin:/usr/local/bin:/usr/local/sbin:/usr/bin:/usr/sbin:/bin:/sbin:/usr/local/Cellar:/usr/local/MacGPG2/bin:/usr/local/opt/go/libexec/bin"

cd "{{ monit_git_repo_dest }}" &&

./bootstrap &&
./configure "{{ monit_configure_options }}" &&
make &&

if [[ $(uname -s) == 'Linux' ]]; then
    if [[ "$(command -v checkinstall)" ]]; then
        sudo checkinstall -y \
            --pkgversion  {{ _git_monit_version.stdout }} \
            --maintainer {{ ansible_user_id }} \
            --pkgname monit
    else
        sudo make install
    fi
else
    sudo make install
fi
